@import "~lib/vars";

.bookingControls {
  width: 100%;
  height: 100%;
  text-align: right;
}

.skipTrackButton {
  background-color: var(--input-background);
  color: var(--text-color);
  height: 100%;
  padding-right: $unit*2;

  &:hover {
    font-weight: bold;
  }

  &:active {
    color: var(--input-background);
    background-color: var(--text-color);
  }
}

.skipTrackIcon {
  color: var(--text-color);
  $size: $unit * 3;
  height: $size;
  width: $size;
  fill: currentColor;
}
