@import "~lib/vars";

.songListContainer {
  text-transform: capitalize;
  width: 100%;
}

.songList {
  margin: 0 auto;
  max-width: 690px; // nice
}


.songButton {
  border-bottom: 2px solid var(--border-color);
  display: block;
  font-size: 1rem;
  text-align: left;
  width: 100%;

  @media (min-width: 700px) {
    &:last-child {
      border-bottom: 0 none;
    }
  }
}

.artistGroup {
  margin-bottom: 2rem;
  border: 2px solid var(--border-color);

  @media (max-width: 700px) {
    border: none;
  }
}

.artist {
  background-color: var(--header-background);
  color: var(--header-text-color);
  font-size: 0.75rem;
  font-weight: bolder;
  padding: $unit ($unit * 1.5);
  position: sticky;
  top: $unit * 6;
}

.songButton {
  align-items: center;
  background: var(--input-background);
  color: var(--text-color);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: ($unit * 1.5);
  text-transform: capitalize;
}

.addedToQueue {
  font-style: italic;
  opacity: 0.8;
}

.songIcon {
  $size: $unit * 2;
  height: $size;
  width: $size;
}
