@import "~lib/vars";

.songListContainer {
  text-transform: capitalize;
  width: 100%;
}

.songList {
  margin: 0 auto;
  max-width: 690px; // nice
  padding-bottom: 2rem;
}

.artistGroup {
  margin-bottom: 2rem;
  border: 2px solid var(--border-color);

  @media (max-width: 700px) {
    border: none;
  }
}

.artist {
  background-color: var(--header-background);
  color: var(--header-text-color);
  font-size: 0.8rem;
  padding: $unit ($unit * 1.5);
  position: sticky;
  top: $unit * 6;
}

