$unit: 8px;

.artist, .song {
  text-transform: capitalize;
}

.artist {
  background: var(--input-background);
  font-size: 1.3rem;
  font-weight: 800;
  padding: $unit * 2;
  position: sticky;
  top: 0;

  @media (prefers-color-scheme: dark) {
    background: var(--input-background);
    color: var(--text-color);
  }
}

.song {
  background: var(--input-background);
  border-bottom: 0.5px solid var(--border-color);
  margin: 0;
  padding: $unit * 2;
  width: 100%;
  text-align: left;


  @media (prefers-color-scheme: dark) {
    color: var(--text-color);
  }
}

.adding {
  background: var(--text-color);
  color: var(--input-background);
}
