@import "~lib/vars";

.songList {
  margin: 2rem auto;
  max-width: 690px; // nice
  width: 100%;
  text-transform: capitalize;
}

.searchSongs {
  background-color: var(--input-background);
  color: var(--text-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.songs {
  margin-top: 1rem;
  color: var(--text-color);
}

.songButton {
  border-bottom: 2px solid var(--border-color);
  display: block;
  font-size: 1rem;
  text-align: left;
  width: 100%;

  &:last-child {
    border-bottom: 0 none;
  }
}

.artistGroup {
  margin-bottom: 1rem;
  border: 2px solid var(--border-color);
}

.artist {
  background-color: var(--header-background);
  color: var(--header-text-color);
  font-size: 0.75rem;
  font-weight: bolder;
  padding: $unit ($unit * 1.5);
  position: sticky;
  top: $unit * 4;
}

.songButton {
  align-items: center;
  background: var(--input-background);
  color: var(--text-color);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: ($unit * 1.5);
  text-transform: capitalize;
}

.songIcon {
  $size: $unit * 2;
  height: $size;
  width: $size;
}
