.theme-swatch {
  background-color: var(--color-background);
  color: var(--color-accent);
  border: var(--border-width) solid var(--color-accent);
  border-radius: var(--border-radius);
  padding: 1em;
  transition-duration: 0.169s;
  transition-property: background-color, color;
  transition-timing-function: ease-out;
  width: 100%;
}

.heart-icon {
  --size: 0.65rem;
  display: inline;
  height: var(--size);
  margin-top: -2px;
  width: var(--size);
}
