@import "~lib/vars";
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$background-height: 896px;

:root {
  --border-color: black;
  --header-background: black;
  --header-text-color: white;
  --input-background: white;
  --text-color: black;
  --text-shadow: black;
  --unit: #{$unit};

  @media (prefers-color-scheme: dark) {
    --border-color: #2b2b2b;
    --header-background: #2b2b2b;
    // --header-text-color: white;
    --input-background: black;
    --text-color: white;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;

  @media (prefers-color-scheme: dark) {
    background: black;
  }
}

html, body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

body {
  font-family: $font-family;
  transform: translateZ(0);
}

.background {
  // animation: background 20s linear infinite forwards;
  background-image: url("/background-light.png");
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -$background-height;
  transform: translateZ(0);
  z-index: -1;

  @media (prefers-color-scheme: dark) {
    background-image: url("/background-dark.png");
  }
}

main {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100vh;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

@keyframes background {
  to {
    transform: translateY(#{$background-height});
  }
}
