@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

$font-family: "VT323", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-size: 24px;

$light-grey: #f2f5f7;

:root {
  --border-color: black;
  --input-background: white;
  --text-color: black;

  @media (prefers-color-scheme: dark) {
    --border-color: white;
    --input-background: black;
    --text-color: white;
  }
}

html {
  @media (prefers-color-scheme: dark) {
    background: black;
  }
}

body {
  animation: background 20s linear infinite forwards;
  background-image: url("/background-light.png");
  background-repeat: repeat;
  font-family: $font-family;
  font-size: $font-size;
  height: 100vh;

  @media (prefers-color-scheme: dark) {
    background-image: url("/background-dark.png");
  }
}

button {
  -webkit-appearance: none;
  border: 0 none;
  appearance: none;
}

@keyframes background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 896px;
  }
}
