@import "~lib/vars";
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

:root {
  --border-color: black;
  --header-background: black;
  --header-text-color: white;
  --input-background: white;
  --text-color: black;
  --unit: #{$unit};

  @media (prefers-color-scheme: dark) {
    --border-color: #2b2b2b;
    --header-background: #2b2b2b;
    // --header-text-color: white;
    --input-background: black;
    --text-color: white;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;

  @media (prefers-color-scheme: dark) {
    background: black;
  }
}

html, body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

body {
  animation: background 20s linear infinite forwards;
  background-image: url("/background-light.png");
  background-repeat: repeat;
  font-family: $font-family;
  transform: translateZ(0);
  will-change: background-position;

  @media (prefers-color-scheme: dark) {
    background-image: url("/background-dark.png");
  }
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

input {
  appearance: none;
}

@keyframes background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 896px;
  }
}
