@import "~lib/vars";

.searchSongs {
  background-color: #e2e2e2;
  border-radius: 3px;
  color: black;
  border: none;
  font-style: italic;
  outline: none;
  padding: $unit * 1.5;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: white;
    color: black;
  }
}
