.themeSwatch {
  @apply w-full border-2 p-3 md:p-4 transition-[background-color,_color] ease-out duration-[169ms];
}

.default {
  @apply border-default-primary bg-default-secondary text-default-primary;
}

.rose {
  @apply border-rose-primary bg-rose-secondary text-rose-primary;
}

.terminal {
  @apply border-terminal-primary bg-terminal-secondary text-terminal-primary;
}

.miami {
  @apply border-miami-primary bg-miami-secondary text-miami-primary;
}

.blazers {
  @apply border-blazers-primary bg-blazers-secondary text-blazers-primary;
}

.heading {
  @apply mb-1 text-lg;
}
