@import "~lib/vars";

.toolbar {
  left: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.searchInfo {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.statusContainer {
  flex-grow: 1;
  position: relative;
}

.status {
  color: var(--text-color);
  transition: 0.2s opacity ease-in-out;
  font-family: "VT323";
  opacity: 0;
  padding: 0 ($unit * 1.5);
  position: absolute;
  top: 0;

  &.isLoading, &.searchStatus {
    opacity: 1;
  }
}

