@import "~lib/vars";

.toolbar {
  left: 0;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.status {
  color: var(--text-color);
  transition: 0.2s opacity ease-in-out;
  font-family: "VT323";
  font-size: 0.9rem;
  padding: $unit * 1.5;
  position: absolute;
  bottom: -$unit * 4.5; // FIXME
  opacity: 0;

  &.isLoading, &.hasResults {
    opacity: 1;
  }
}

