@layer components {
  dialog {
    @apply
     bg-transparent
     fixed
     flex
     flex-col
     h-full
     inset-0
     items-center
     justify-center
     text-primary
     w-full;

    transition: all 0.2s ease-in;

    > * {
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
  }

  dialog[open] {
    @apply
     backdrop-blur-lg;

    > * {
      opacity: 1;
      transition-delay: 0.15s;
    }
  }

  @media (prefers-reduced-motion) {
    dialog, dialog > * {
      transition: none;
    }
  }
}
