dialog {
  align-items: center;
  background-color: transparent;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100%;

  &::before {
    background-color: transparent;
    content: "";
    position: absolute;
    inset: 0;
    transition: all 150ms ease-out;
    z-index: -1;
  }

  >* {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
}

dialog[open] {
  &::before {
    background-color: rgb(from var(--color-background) r g b / 0.75);
    backdrop-filter: blur(var(--blur-sm));

    /** NOTE: Not sure about this. */
    [data-color-scheme="dark"] & {
      background-color: rgb(from var(--color-background) r g b / 0.5);
    }
  }

  >* {
    opacity: 1;
    transition-delay: 75ms;
  }
}

@media (prefers-reduced-motion) {
  dialog,
  dialog>* {
    transition: none;
  }
}
