dialog {
  align-items: center;
  background-color: transparent;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: fixed;
  transition: all 0.15s ease-in-out;
  width: 100%;

  >* {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
}

dialog[open] {
  backdrop-filter: blur(var(--blur-xl));

  >* {
    opacity: 1;
    transition-delay: 0.1s;
  }
}

@media (prefers-reduced-motion) {

  dialog,
  dialog>* {
    transition: none;
  }
}
