form[role="search"] {
  display: flex;
  position: relative;
}

.outlined-input {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  color: var(--color-primary);
}

.input {
  padding: 0.5rem;

  &::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
  }

}

.search-clear {
  background-color: var(--color-accent);
  border-radius: max(calc(var(--border-radius) - var(--border-width)), 1px);
  color: var(--color-background);
  margin: calc(var(--border-radius) * 2);
  padding-inline: calc(var(--spacing) * 2.5);
}
