.list-item {
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-accent);
  display: grid;
  grid-template-areas: "content icon";
  grid-template-columns: 1fr auto;
  gap: var(--gutter);
  justify-content: space-between;
  padding: var(--spacing-gutter);
}

.now-playing {
  background-color: var(--color-accent);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: var(--border-width) solid var(--color-accent);
  color: var(--color-background);
}

.list-item-content {
  grid-area: content;
  max-width: 20ch;

  @supports (text-wrap: balance) {
    max-width: initial;
    text-wrap: balance;
  }
}

.list-item-icon {
  grid-area: icon;
}

.song-list-item {
  border: var(--border-width) solid var(--color-accent);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: between;
  position: relative;
  width: 100%;
}

.add-to-queue-button {
  border-top: var(--border-width) solid var(--color-accent);
  transition: opacity 300ms ease-in-out;
  padding-block: calc(var(--spacing) * 2);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--text-sm);
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }

  @variant md {
    font-size: var(--text-sm);
  }
}
