.list-item {
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-accent);
  display: grid !important;
  grid-template-areas: "content icon";
  grid-template-columns: 1fr auto;
  gap: var(--gutter);
  justify-content: space-between;
  margin-block-end: 1rem;
  padding: 0.75rem;

  @variant md {
    padding: calc(var(--spacing) * 4);
  }
}

.list-item-content {
  grid-area: content;
  max-width: 20ch;

  @supports (text-wrap: balance) {
    max-width: initial;
    text-wrap: balance;
  }
}

.list-item-icon {
  grid-area: icon;
}
