.song-list-container {
  /*
   * Currently too buggy in iOS 26 when scrolling.
  * content-visibility: auto;
  */
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-gutter);

  @variant sm {
    gap: var(--spacing-gutter-2);
  }
}
