@import "~lib/vars";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.heading {
  background: var(--text-color);
  color: var(--input-background);
  display: block;
  font-family: "VT323";
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: $unit;
  text-align: center;
}
