.heading {
  composes:
    global(bg-primary)
    global(p-6)
    global(text-center)
    global(text-secondary);

  composes:
    global(md:flex)
    global(md:h-auto)
    global(md:items-center)
    global(md:w-1/3);

  @screen md {
    min-width: 18rem;
  }
}
