.heading {
  composes:
    global(bg-primary)
    global(leading-snug)
    global(p-6)
    global(text-center)
    global(text-secondary);

  composes:
    global(md:flex)
    global(md:items-center)
    global(md:h-64);

  composes:
    global(lg:h-auto)
    global(lg:w-1/3);

  @screen sm {
    min-width: 18rem;
  }
}
