@import "~lib/vars";

.heading {
  font-family: VT323;
  color: var(--text-color);
  margin: ($unit * 2) $unit;
}

.queueButtons {
  display: flex;
  font-family: VT323;
  justify-content: space-between;
  margin: $unit * 1.5;
}
