@import "~lib/vars";

.heading {
  font-family: VT323;
  color: var(--text-color);
  margin: ($unit * 2) $unit;
}

.queueButtons {
  display: flex;
  font-family: VT323;
  justify-content: space-between;
  margin: $unit * 1.5;
}

.queueButtons button {
  padding: 0;

  &:disabled {
    font-style: italic;
    opacity: 0.8;
  }
}
