.themeSwatch {
  composes:
    global(border-2)
    global(p-3)
    global(w-full);

  composes: global(md:p-4);
}

.default {
  composes:
    global(bg-default-secondary)
    global(border-default-primary)
    global(text-default-primary);
}

.blue {
  composes:
    global(bg-blue-secondary)
    global(border-blue-primary)
    global(text-blue-primary);
}

.terminal {
  composes:
    global(bg-terminal-secondary)
    global(border-terminal-primary)
    global(text-terminal-primary);
}

.watermelon {
  composes:
    global(bg-watermelon-secondary)
    global(border-watermelon-primary)
    global(text-watermelon-primary);
}

.earl-grey {
  composes:
    global(bg-earl-grey-secondary)
    global(border-earl-grey-primary)
    global(text-earl-grey-primary);
}

.heading {
  composes:
    global(text-lg)
    global(mb-1);
}
