.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
}

.input {
  color: var(--text-color);
  background: var(--input-background);
  width: 100%;
  margin-bottom: 32px;
  padding: 8px;
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--border-color);
  transition: box-shadow linear 150ms;

  &::placeholder {
    // color: darken(white, 35%);
  }

  &:focus {
    box-shadow: 8px 8px var(--border-color);
  }
}

.submit {
  padding: 8px;
  width: 100%;

  &:hover {
    box-shadow: 8px 8px var(--border-color);
    cursor: pointer;
  }

  &[disabled] {
    color: darken(white, 35%);
    box-shadow: none;
    // background-image: repeating-linear-gradient(
    //   45deg,
    //   white,
    //   white 15px,
    //   black 15px,
    //   black 30px
    // );
  }
}

.statusText {
  color: var(--text-color);
  font-size: 0.55rem;
  font-weight: 800;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
