.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
}

.input {
  color: var(--text-color);
  background: var(--input-background);
  width: 100%;
  margin-bottom: 32px;
  padding: 8px;
  border: 2px solid var(--box-shadow);
  box-shadow: 4px 4px var(--box-shadow);
  transition: box-shadow linear 150ms;

  &:focus {
    box-shadow: 8px 8px var(--box-shadow);
  }
}

.submit {
  padding: 8px;
  width: 100%;

  &:hover {
    box-shadow: 8px 8px var(--border-color);
    cursor: pointer;
  }

  &[disabled] {
    color: darken(white, 35%);
    box-shadow: none;

    @media (prefers-color-scheme: dark) {
      color: lighten(black, 35%); 
    }
  }
}

.statusText {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
