html {
  @apply font-mono;
  font-size: 20px;

  @media screen(xs) {
    font-size: 24px;
  }

  @media screen(md) {
    font-size: 26px;
  }
}

html,
body,
#__next {
  @apply h-full;
}

body {
  @apply text-primary bg-secondary transition-[background-color,_color] ease-out duration-[169];
}

main {
  @apply flex flex-col min-h-full;
}

a,
button {
  /* Prevent text-selection on links and buttons */
  @apply appearance-none outline-none select-none;
}

input {
  @apply appearance-none rounded-none outline-none;
}

.h-2px {
  height: 2px;
}
