html {
  font-family: "VT323";
  font-size: 24px;

  @screen md {
    font-size: 26px;
  }
}

html, body, #__next {
  @apply text-primary bg-secondary h-full;
}

main {
  @apply text-primary bg-secondary flex flex-col min-h-full;
}

a,
button {
  /* Prevent text-selection on links and buttons */
  @apply appearance-none outline-none select-none;
}

input {
  @apply appearance-none rounded-none;
}

.h-2px {
  height: 2px;
}
