.remove-line-height {
  @supports(text-box-edge: cap alphabetic) {
    line-height: 0;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
  }

  @supports not (text-box-edge: cap alphabetic) {
    line-height: auto;
  }
}
